.card {
  width: 150px;
  background: #fefefe;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-width: 140px;
    height: 140px;
  }
  p {
    align-self: flex-start;
    padding-left: 10px;
    color: black;
  }
}
