.container-products {
  background: #ebebe8;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  .container-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  p {
    padding: 15px;
    color: #b7b7b7;
  }
}
